@import "~breakpoint-sass";
// Containers
.container {
  box-sizing: border-box;
  padding: 1em;
}
// Restrictons
.restrict {
  max-width: 960px;
  margin: auto;
}

.restrict-small {
  max-width: 640px;
  margin: auto;
}

.restrict-tiny {
  max-width: 360px;
  margin: auto;
}
// Columns
.columns {
  & + .columns {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .column {
  }
  @include breakpoint(1024px) {
    display: flex;
    .column {
      flex: 1;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

// Hero
.hero-container {
  height: 70vh;
  min-height: 500px;
  background-color: $gray;
  color: $white;
  display: flex;
  -webkit-align-content: center;
          align-content: center;
  -webkit-justify-content: center;
          justify-content: center;
  .hero-content {
    align-self: center;
    width: 100%;
  }
}

//Vue typer
.vue-typer {
  font-family: inherit;
}
.vue-typer .custom.char.typed {
  color: $primary;
}
.vue-typer .custom.char.selected {
  color: #E91E63;
}
.vue-typer .custom.caret {
  // animation: rocking 1s ease-in-out 0s infinite;
}
.vue-typer .custom.caret.typing {
  background-color: $primary;
}
.vue-typer .custom.caret.selecting {
  display: inline-block;
  background-color: #E91E63;
}

//Typo
.centered {
  text-align: center;
}
.text-right {
  text-align: right;
}

// White Frame
.frame {
  background-color: $white;
  box-shadow: 1px 1px 2px 1px $lightgray;
  padding: 1em;
  .title {
    margin-top: 0;
  }
}

//Gray Box
.gray-box {
  background-color: $smokygray;
  padding: .2em 1em;
  margin: 1em 0;
  box-sizing: border-box;
  font-size: .875em;
  a {
    color: $link;
    text-decoration: none;
  }
}
@import "~assets/css/components/buttons";
@import "~assets/css/components/form";
@import '~assets/css/components/type';