@import "~breakpoint-sass";
// Containers
.container {
  box-sizing: border-box;
  padding: 1em;
}
// Restrictons
.restrict {
  max-width: 960px;
  margin: auto;
}

.restrict-small {
  max-width: 640px;
  margin: auto;
}

.restrict-tiny {
  max-width: 360px;
  margin: auto;
}
// Columns
// .columns {
//   & + .columns {
//     margin-top: 2em;
//     margin-bottom: 2em;
//   }
//   .column {
//     margin-bottom: 2em;
//     @include breakpoint(1024px) {
//       margin-bottom: 0;
//     }
//   }
//   &.is-mobile {
//     display: flex;
//     .column {
//       flex: 1;
//       margin-right: 1em;
//       margin-bottom: 0;
//       &:last-child {
//         margin-right: 0;
//       }
//     }
//   }
//   &.reverse {
//     .column {
//       &:first-child {
//         order: 2;
//       }
//     }
//   }
//   @include breakpoint(1024px) {
//     display: flex;
//     .column {
//       flex: 1;
//       margin-right: 1em;
//       &:last-child {
//         margin-right: 0;
//       }
//     }
//   }
// }

// Hero
.hero-container {
  height: 70vh;
  min-height: 500px;
  // background-color: $gray;
  color: $white;
  display: flex;
  -webkit-align-content: center;
          align-content: center;
  -webkit-justify-content: center;
          justify-content: center;
  h1 {
    @include breakpoint(1280px) {
      font-size: 3em;
    }
  }
  &.tiny {
    height: auto;
    min-height: auto;
    background-color: $brown;
  }
  &.normal {
    height: 35vh;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    &:before {
      /* Rectangle: */
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-image: linear-gradient(45deg, #304e33 0%, #673c23 100%);
      border-radius: 0 0 100% 100%;
      transform-origin: center bottom;
      transform: scaleX(1.5);
    }
    .controlgroup .controls span {
      color: $black;
    }
  }
  .hero-content {
    align-self: center;
    width: 100%;
    position: relative;
  }
}

//Vue typer
.vue-typer {
  font-family: inherit;
}
.vue-typer .custom.char.typed {
  color: $primary;
}
.vue-typer .custom.char.selected {
  color: #E91E63;
}
.vue-typer .custom.caret {
  // animation: rocking 1s ease-in-out 0s infinite;
}
.vue-typer .custom.caret.typing {
  background-color: $primary;
}
.vue-typer .custom.caret.selecting {
  display: inline-block;
  background-color: #E91E63;
}

//Typo
.centered {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

// White Frame
.frame {
  background-color: $white;
  box-shadow: 1px 1px 2px 1px $lightgray;
  padding: 1em;
  .title {
    margin-top: 0;
  }
}

//Gray Box
.gray-box {
  background-color: $smokygray;
  padding: .2em 1em;
  margin: 1em 0;
  box-sizing: border-box;
  font-size: .875em;
  a {
    color: $link;
    text-decoration: none;
  }
  .controlgroup {
    font-size: 1rem;
  }
}
// Notify
.notification-bar {
  background-color: $smokygray;
  padding: .5em 1em;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba($black, .33);
  text-align: center;
  margin: 1em 0;
  span {
    display: block;
    font-size: 12px;
  }
  &.error-message {
    color: $red;
  }
  &.success-message {
    background-color: $link;
    color: $white;
  }
}
// Transitions
.fade-enter-active, .fade-leave-active {
  transition: .1s all ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  transform: translateY(40%)
}
.full {
  width: 100%;
  display: block;
}
@import "~assets/css/components/buttons";
@import "~assets/css/components/form";
@import '~assets/css/components/type';