$white: #ffffff;
$black: #4A4A46;
$gray: #cccccc;
$primary: #7ED321;

$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// $info: $blue !default;
// $success: $green !default;
// $warning: $yellow !default;
// $danger: $red !default;
// $light: $white-ter !default;
// $dark: $grey-darker !default;