@import './var';
@import './normalize';
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html {
  background-color: $smokygray;
  color: $black;
  font-family: $sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
@import './components';
@import './iconic/material-design-iconic-font';