@import '~bulma/sass/utilities/all';
@import '~bulma/sass/base/all';
@import '~bulma/sass/grid/all';
@import './var';
@import './normalize';
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
html {
  background-color: $smokygray;
  color: $black;
  font-family: $sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

@import './components';
@import './plugins/classic.scss';
@import './plugins/classic.date.scss';
@import './iconic/material-design-iconic-font';