@import './var';
@import './normalize';
html {
  background-color: $smokygray;
  color: $black;
  font-family: $sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.428571428571429;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
@import './components';