.icon-button {
  i {
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    & + span {
      display: inline-block;
      vertical-align: middle;
      margin-left: .5em;
    }
  }
}
.button {
  text-decoration: none;
  border: 1px solid $gray;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 .2em;
  padding: .4em .6em;
  color: $black;
  line-height: 1.6;
  cursor: pointer;
  background-color: transparent;
  @include breakpoint(768px) {
    padding: .4em 1em;
  }
  &.full {
    width: 100%;
    margin: 0;
  }
  &:hover {
    transition: .3s all ease;
    background-color: $primary;
    color: $white;
    border-color: $primary;
    box-shadow: 0px 1px 1px 1px $lightgray;
  }
  &:active {
    background-color: darken($primary, 5%);
    box-shadow:inset 0px 0px 3px 0px darken($primary, 15%);
  }
  &.invert {
    background-color: $primary;
    color: $white;
    border-color: $primary;
    &:hover {
      transition: .3s all ease;
      background-color: darken($primary, 5%);
      color: $white;
      border-color: darken($primary, 10%);
    }
    &:active {
      box-shadow:inset 0px 0px 3px 0px darken($primary, 15%);
    }
  }
  &.primary {
    border-color: $primary;
    color: $primary;
    &:hover {
      transition: .3s all ease;
      background-color: $primary;
      color: $white;
      border-color: darken($primary, 5%);
    }
  }
  &.warning {
    background-color: $red;
    border-color: $red;
    color: $white;
  }
  &.invisible {
    border: 0;
  }
  &[disabled] {
    background-color: $lightgray;
    border: 1px solid $lightgray;
    color: $gray;
    text-shadow: 1px 1px 0 $white;
    &:hover, &:active {
      background-color: $lightgray;
      border: 1px solid $lightgray;
      color: $gray;
      text-shadow: 1px 1px 0 $white;
    }
  }
}