.controlgroup {
  margin: 2em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .controls {
    display: flex;
    input[type="search"] {
      flex: 1;
      height: $input-height;
      padding: 0 1em;
    }
  }
  input[type="search"] {
    border: 0;
    height: $input-height;
    box-sizing: border-box;
    padding: 0 1em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
    color: $black;
    // box-shadow: inset 0px 0px 6px 0px $black;
    &:focus {
      box-shadow: inset 0px 0px 3px 0px $pureblack;
    }
    & + button {
      // box-shadow: 1px 1px 1px 1px $pureblack;
      outline: none;
      border: 0;
      display: inline-block;
      vertical-align: middle;
      border-radius: 0 3px 3px 0;
      width: 25%;
      height: $input-height;
      box-sizing: border-box;
      padding: .4em 1em;
      background-color: $primary;
      color: darken($primary, 20%);
      cursor: pointer;
      text-shadow: 1px 1px 0 rgba($white, .5);
      transition: .3s all ease;
      &:hover {
        background-color: darken($primary, 5%);
        color: $white;
        text-shadow: none;
        width: 33%;
      }
      &:active {
        background-color: darken($primary, 5%);
        box-shadow:inset 0px 0px 3px 1px darken($primary, 25%);
        text-shadow: none;
      }
    }
  }
  // With Label
  .controls {
    position: relative;
    input {
      width: 100%;
      border-bottom: 1px solid $gray;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      height: $input-height-normal;
      box-sizing: border-box;
      padding: 0 1em 0 0;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      transition: .3s all ease;
      & + label {
        color: $gray;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(0) translateY(0);
        opacity: 0;
        font-size: 12px;
        transition: .3s all ease;
      }
      &:focus, &.active {
        outline: none;
        border-color: $secondary;
        &::placeholder {
          color: $white;
        }
        & + label {
          opacity: 1;
          color: $secondary;
          transform: translateX(0) translateY(-1.5em);
        }
      }
    }
  }
}